@import url(../node_modules/codemirror/lib/codemirror.css);
div .panel-body {
  padding: 5px 5px 5px 10px;
  min-height: 300px; }

div .CodeMirror {
  border: 1px solid rgba(192, 192, 192, 0.6);
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }

div .jumbotron {
  margin-top: 30px; }
